In [1]:
print("Hello!")

Hello!

In [2]:
num1 = 10
num2 = 20
result = 0.0

In [7]:
print("num1 = ",num1)

num1 =  10

In [16]:
if num1+num2 > 50:
    print("> 50")
elif num1+num2 < 50 and num1+num2 >30 :
    print("btw 50 and 30")
else:
    print("< 30")

< 30

In [22]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [23]:
x=1
while(x<11):
    print(x)
    x+=2

1
3
5
7
9

In [25]:
mylist = [1,2,3,4,5,6,7,8,9]

In [26]:
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
mylist = [i for i in range(1,10)]

In [28]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
for i in range(len(mylist)):
    print(mylist[i])

1
2
3
4
5
6
7
8
9

In [30]:
for i in mylist:
    if i%2==0:
        print(i)

2
4
6
8

In [31]:
twoD = [[1,2,3],[4,5,6],[7,8,9]]

In [32]:
twoD

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [71]:
twoD = [[j for j in range(3)] for i in range(5)]

In [72]:
twoD

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [45]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
mylist.pop(1)

3

In [49]:
mylist

[2, 4, 5, 6, 7, 8, 9]

In [43]:
mylist.append(9)

In [50]:
mylist

[2, 4, 5, 6, 7, 8, 9]

In [54]:
mylist[-2]

8

In [68]:
mylist[::-1]

[9, 8, 7, 6, 5, 4, 2]

In [73]:
dict1 = { 'Name' : 'Ali', 'Age' : 23, 'Department' : 'BSCS' }

In [78]:
name= "Database"

In [80]:
name[0]

'D'

In [81]:
num1 = int (input("Enter first number:"))
num2 = int (input("Enter second number:"))
print(num1,"+",num2,"=", num1+num2 )

Enter first number:10
Enter second number:10
10 + 10 = 20

In [95]:
email = "saif.islam@jinnah.edu"

In [96]:
x = email.split('@')

In [97]:
x

['saif.islam', 'jinnah.edu']

In [98]:
fname = x[0].split('.')[0]
lname = x[0].split('.')[1]
host = x[1]

In [99]:
fname

'saif'

In [100]:
lname

'islam'

In [101]:
host

'jinnah.edu'

In [105]:
def drawLine():
    for i in range(30):
        print("*" , end=' ') # end ='' prints all * in single row
    print()

In [107]:
drawLine()
drawLine()
drawLine()

* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

In [110]:
def drawLine(n):
    for i in range(n):
        print("*" , end=' ') # end ='' prints all * in single row
    print()

In [113]:
drawLine(40)

* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

In [116]:
def ADD(num1,num2):
    return num1+num2

In [117]:
ADD(2,4)

6

In [118]:
def getODD(a):
    counter=0
    for i in a:
        if i%2==1:
            counter+=1
    return counter

In [119]:
b= [1,3,4,5,6,7,8,9]

In [120]:
getODD(b)

5

In [121]:
def drawLine(n=30):
    for i in range(n):
        print("*" , end=' ') # end ='' prints all * in single row
    print()

In [124]:
drawLine()

* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

In [134]:

def fact(n,b =1):
    b *= n
    if(n < 2):
        return b
    return fact(n-1,b)

In [137]:
print(fact(0))

0

In [17]:
num1 = int(input("Enter first number:"))
num2 = int(input("Enter second number:"))

try:
    print(num1,"+",num2,"=",num1+num2)
    print(num1,"-",num2,"=",num1-num2)
    print(num1,"*",num2,"=",num1*num2)
    print(num1,"/",num2,"=",num1/num2)
except Exception as e: 
    print(e)

Enter first number:2
Enter second number:0
2 + 0 = 2
2 - 0 = 2
2 * 0 = 0
division by zero

In [6]:
file = open("biodata.txt", 'w+')
file.write("studentid name contact cgpa\n1001 ali 0300 3.0\n1002 saad 0345 3.5")
file.close()

In [21]:
file = open("biodata.txt", 'r+')
#data = file.read()
for i in file:
    x= i.split(' ')
    y = ','.join(x)
    print(y)
file.close()

studentid,name,contact,cgpa

1001,ali,0300,3.0

1002,saad,0345,3.5

In [9]:
data

'studentid name contact cgpa\n1001 ali 0300 3.0\n1002 saad 0345 3.5'

In [22]:
import csv
try:
    file = open('biodata.csv', 'r')
    reader = csv.reader(file)
    for row in reader:
         print (row)
except:
     print("problem opening the file")

['studentid', 'name', 'contact', 'cgpa']
['1001', 'ali', '0300', '3.0']
['1002', 'saad', '0345', '3.5']

In [23]:
import pandas as pd

In [26]:
data = pd.read_csv('marks.csv')

In [33]:
data.describe()

,MID,FINAL,OVERALL,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
count,277.000000,277.000000,277.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,13.420578,31.425993,67.122744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,2.905986,7.652610,10.983490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,4.000000,7.000000,36.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,11.500000,26.500000,60.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,13.500000,32.000000,67.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,15.500000,37.000000,75.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,19.000000,48.000000,94.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
data[10:20]

,MID,FINAL,OVERALL,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
10,9.5,12.0,42.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,13.0,34.0,72.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12.5,34.0,72.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,12.5,27.0,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,11.5,25.0,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,11.5,20.5,55.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,15.0,43.0,80.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,12.0,20.0,53.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,7.5,7.0,37.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,9.5,22.0,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
df = data[data.columns[:3]]

In [48]:
df = df[:277]

In [49]:
df

      MID  FINAL  OVERALL
0    15.0   28.5     66.0
1     7.0   23.0     50.0
2    13.5   37.5     73.0
3    14.0   27.0     62.0
4    16.0   25.0     60.0
..    ...    ...      ...
272  12.5   30.5     61.0
273  17.0   38.0     77.0
274  18.5   43.0     84.0
275  17.5   25.0     61.0
276  18.0   36.5     76.0

[277 rows x 3 columns]

In [72]:
import numpy as np

In [73]:
list1 = [2,4,6,8,10,11]
list2= [1,2,3,4,5]

In [74]:
nparray1 = np.array(list1)
nparray2 = np.array(list2)

In [80]:
np.sum(nparray1)

41

In [79]:
nparray1

array([ 2,  4,  6,  8, 10, 11])